body{
	background-color: #ffffff
}

h1 {
    text-align:center
}

div#workitemsPanel{
	min-height: 1100px;
	position: relative;
	background: url(../img/background/grid.gif);
}

div#workitemsPanel ol.breadcrumb{
	margin-bottom: 0px
}

div.workitemsPanelBody {
	margin-left: 45px !important;
}

div.workitems{
	position: relative;
	border-left: 1px solid #ccc;
	padding-left: 19px;
}

div.workitemsL1{
	position: relative;
	margin-left: 25px;
	padding-left: 20px;
	margin-top:10px;
}

div.workitems div.workitem{
	list-style-type:none;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
}

div.workitems div.workitem:first-child{
	margin-top: 0px;
}
div.wiSubject {
	color: #000000;
	cursor: text;
	text-decoration: none;
	line-height: 20px;
	min-height: 20px;
	position: relative;
	display: block;
	letter-spacing: inherit;
	white-space: pre-wrap;
	word-wrap: break-word;
	vertical-align: baseline;
}

div.wiComplete {
	
}

div.wiSubject:focus{
	outline: none;
}

div.completed{
	text-decoration: line-through;
	color: #999
}

div.wiContent {
	white-space: pre-wrap;
	min-height: 20px;
	outline: none;
}

div.inline {
	display: inline;
}
div.inline-block {
	display: inline-block;
}
div.block {
	display: block;
}

div.export{
	height: 200px;
	overflow: scroll;
}

div.export pre{
	padding: 0px;
	border:0px;
	background: #ffffff;
}

div.insertLine {
	height: 5px;
	background: #5bc0de;
	width: 100%
}

div.insertSubLine {
	height: 5px;
	background: #5cb85c;
	width: 90%;
	margin-left: : 20px;
	margin-bottom: 5px
}
.highlight {
	background-color: #d9edf7;
	color: #31708f;
	border-radius: 4px;
}

.pointer {
	cursor:pointer;
}

.icon {
	display: inline-block;
	position: absolute;
	line-height: 20px;
	z-index: 10;
	left: 0px;
}

.iconMove {
	display: inline-block;
	position: absolute;
	line-height: 20px;
	z-index: 10;
	left: -55px;
}


.iconExpand {
	display: inline-block;
	position: absolute;
	line-height: 20px;
	z-index: 10;
	left: -15px;
}


/*basic link*/
div.wiSubject span {color:#222222; cursor:pointer;}
div.wiSubject span:link    {color:#222222; cursor:pointer;}
div.wiSubject span:visited {color:#222222; cursor:pointer;}
div.wiSubject span:hover   {color:#222222; cursor:pointer;}

/*Tags*/
div.wiSubject .content-tag    {color:#999999;}
div.wiSubject span:link.content-tag    {color:#999999;}
div.wiSubject span:visited.content-tag {color:#999999;}
div.wiSubject span:hover.content-tag   {color:#999999; background-color:#eeeeee;}

/*Links*/
div.wiSubject .content-link   {cursor:pointer;text-decoration:underline}
div.wiSubject span:link.content-link   {color:#222222; cursor:pointer;text-decoration:underline}