<ul class="list-group" data-ng-init="findChild(workitem)" >
	<!-- <li>Has child</li> -->
		<li data-ng-show="workitem.status != 'deleted' || displaydeleted == 'yes'" class="list-group-item" data-ng-repeat="workitem in workitem.childItems | filter:query" id="{{workitem._id}}">
		
		<a class="btn btn-default" data-ng-href="#!/workitems/{{workitem._id}}"><span class="glyphicon glyphicon-zoom-in"></span></a>
		<a class="btn btn-info navbar-right" data-ng-show="!addItem_{{workitem._id}} || addItem_{{workitem._id}} == false" data-ng-click="showHideAddItem(childItem);"><span class="glyphicon glyphicon-plus"></span></a>
		<a class="btn btn-info navbar-right" data-ng-show="addItem_{{workitem._id}} == true" data-ng-click="showHideAddItem(childItem);"><span class="glyphicon glyphicon-minus"></span></a>
		<a data-ng-hide="workitem.status == 'completed'" class="btn btn-primary navbar-right" data-ng-click="changeStatus(childItem,'completed');"><span class="glyphicon glyphicon-check"></span></a>
		<a data-ng-hide="workitem.status == 'new'" class="btn btn-warning navbar-right" data-ng-click="changeStatus(childItem,'new');"><span class="glyphicon glyphicon-leaf"></span></a>
		<a data-ng-hide="workitem.status == 'deleted'" class="btn btn-danger navbar-right" data-ng-click="changeStatus(childItem,'deleted');"><span class="glyphicon glyphicon-trash"></span></a>
		<a data-ng-show="workitem.status == 'deleted'" class="btn btn-danger navbar-right" data-ng-click="remove(childItem,workitem);"><span class="glyphicon glyphicon-fire"></span></a>
		<span data-ng-show="workitem.status == 'new'" class="glyphicon glyphicon-leaf"></span>
		<span data-ng-show="workitem.status == 'completed'" class="glyphicon glyphicon-check"></span>
		<span data-ng-show="workitem.status == 'deleted'" class="glyphicon glyphicon-trash"></span>
		{{workitem.subject}} <br /> {{workitem.content}}
		<!-- <add-Item  data-ng-show="addItem_{{workitem._id}} == true"></add-Item> -->
		<form  data-ng-show="addItem_{{workitem._id}} == true" id="form_{{workitem._id}}" role="form" data-ng-submit="create(childItem, workitem)">
		<div class="form-group">
		<input type="text" class="form-control" data-ng-model="subject" id="subject_{{workitem._id}}" placeholder="Add a work item..." required />
	</div>
	</form>
	<child-Items ng-if="workitem.nodeType == 'node'"></child-Items>
	</li>
</ul>